<div :id="idModal" class="modal fade" role="dialog">
    <div :class="tailleModal" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div :class="classeHeader" class="modal-header">
                <slot name="modalHeader"></slot>
            </div>
            <div class="modal-body">
                <slot name="modalBody"></slot>
            </div>
            <div class="modal-footer">
                <slot name="modalFooter"></slot>
            </div>
        </div>
    </div>
</div>
