<!-- Aides Financières -->
<section class="section aidesfinancieres mt-5">
    <div class="container">

        <div class="sectionHeader text-center">
            <h2 class="sectionTitre" v-if="plateforme.UtilisateurConnecte != null">Gérer les aides financières</h2>
            <h2 class="sectionTitre" v-else>Les aides financières</h2>
            <div class="line"><span></span></div>
            <p v-if="plateforme.UtilisateurConnecte != null">
                Ajouter, modifier, supprimer les aides financières.
            </p>
            <p v-else>
                Visualiser les aides financières.
            </p>
        </div>

        <ModalErreur ref="modalErreur"></ModalErreur>

        <Datatables ref="datatablesAidesFinancieres" v-bind:proprietesDatatables="proprietesDatatablesAidesFinancieres" idDatatables="datatablesAidesFinancieres"></Datatables>

        <ModalSpecifique ref="modalEditeAideFinanciere" idModal="modalEditeAideFinanciere" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreAideFinanciere"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <form slot="modalBody" class="form">
                <input type="hidden" id="inputIdentifiantAideFinanciere" value="0" />
                <div class="form-group">
                    <label for="inputNomAideFinanciere">Nom Aide Financière :</label>
                    <input type="text" id="inputNomAideFinanciere" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="textareaDescriptionAideFinanciere">Description Aide Financière :</label>
                    <textarea class="form-control" id="textareaDescriptionAideFinanciere" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="inputLienAideFinanciere">Lien Aide Financière :</label>
                    <input type="url" id="inputLienAideFinanciere" class="form-control" />
                </div>
            </form>

            <button slot="modalFooter" type="button" id="boutonEditeAideFinanciere" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <SpinnerSpecifique ref="spinner"></SpinnerSpecifique>

    </div>
</section>
<!-- /Aides Financières -->
