<!-- Déconnexion -->

<section class="sections detailsUtilisateur mt-5">
    <div class="container">

        <div class="sectionHeader text-center">
            <h2 class="sectionTitre">Déconnexion réussie.</h2>
            <div class="line"><span></span></div>
            <p>
                Vous vous êtes déconnecté(e) de l'application Plateforme Relations Internationales.
            </p>
        </div>

        <ModalErreur ref="modalErreur"></ModalErreur>

    </div>
</section>


<!-- /Déconnexion -->