<!-- Mails -->
<section class="section aidesfinancieres mt-5">
    <div class="container">

        <div class="sectionHeader text-center">
            <h2 class="sectionTitre">Gérer la communication avec les partenaires</h2>
            <div class="line"><span></span></div>
            <p>
                Envoyer des mails et Ajouter, modifier, supprimer des templates de mails.
            </p>
        </div>

        <ModalErreur ref="modalErreur"></ModalErreur>
        <ModalInformation ref="modalInformation"></ModalInformation>

        <Datatables ref="datatablesPartenaires" v-bind:proprietesDatatables="proprietesDatatablesPartenaires" idDatatables="datatablesPartenaires"></Datatables>

        <Datatables ref="datatablesTemplatesMails" v-bind:proprietesDatatables="proprietesDatatablesTemplatesMails" idDatatables="datatablesTemplatesMails"></Datatables>

        <ModalSpecifique ref="modalEditeMailPartenaire" idModal="modalEditeMailPartenaire" tailleModal="modal-xl">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreMailPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <form slot="modalBody" class="form">
                <div class="form-group">
                    <input type="checkbox" id="inputEstEnvoye">
                    <label class="form-check-label" for="inputEstEnvoye">Envoie différé</label>
                </div>
                <div class="form-group">
                    <label for="inputDateEnvoie">Date Envoie :</label>
                    <input type="date" id="inputDateEnvoie" class="form-control">
                </div>
                <div class="form-group">
                    <label for="multipleSelectAvecTagDestinatairesMail">A :</label>
                    <MultipleSelectAvecTag ref="multipleSelectAvecTagDestinatairesMail" idMultipleSelectAvecTag="multipleSelectAvecTagDestinatairesMail" placeholderSelect="Sélectionner des destinataires" tagActive="true"></MultipleSelectAvecTag>
                </div>
                <div class="form-group">
                    <label for="multipleSelectAvecTagCCMail">CC :</label>
                    <MultipleSelectAvecTag ref="multipleSelectAvecTagCCMail" idMultipleSelectAvecTag="multipleSelectAvecTagCCMail" placeholderSelect="Sélectionner des CC" tagActive="true"></MultipleSelectAvecTag>
                </div>
                <div class="form-group">
                    <label for="multipleSelectAvecTagCCIMail">CCI :</label>
                    <MultipleSelectAvecTag ref="multipleSelectAvecTagCCIMail" idMultipleSelectAvecTag="multipleSelectAvecTagCCIMail" placeholderSelect="Sélectionner des CCI" tagActive="true"></MultipleSelectAvecTag>
                </div>
                <div class="form-group">
                    <label for="inputSujetMail">Sujet :</label>
                    <input type="text" id="inputSujetMail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="selectTemplateMail">Template :</label>
                    <select class="custom-select form-control" id="selectTemplateMail"></select>
                </div>
            </form>

            <EditeurHtml slot="modalBody" ref="editeurHtmlMail" idEditeurHtml="editeurHtmlMail"></EditeurHtml>


            <button slot="modalFooter" type="button" id="boutonEditeMailPartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeHistoriqueMailsPartenaire" idModal="modalEditeHistoriqueMailsPartenaire" tailleModal="modal-xl">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreHistoriqueMailsPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <Datatables slot="modalBody" ref="datatablesHistoriqueMailsPartenaire" v-bind:proprietesDatatables="proprietesHistoriqueMailsPartenaire" idDatatables="datatablesHistoriqueMailsPartenaire"></Datatables>

            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalDetailsMailPartenaire" idModal="modalDetailsMailPartenaire" tailleModal="modal-xl">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputDetailsMailPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody" class="informationsAPropos">
                <p class="informationsAProposDescription">
                    Nom Partenaire : <span class="proprieteApplication" id="nomPartenaireDetailMail"></span>
                </p>
                <p class="informationsAProposDescription">
                    Identifiant Mail : <span class="proprieteApplication" id="identifiantMailDetailMail"></span>
                </p>
                <p class="informationsAProposDescription">
                    Date Envoie : <span class="proprieteApplication" id="dateEnvoieDetailMail"></span>
                </p>
                <p class="informationsAProposDescription">
                    Est Envoye : <span class="proprieteApplication" id="estEnvoyeDetailMail"></span>
                </p>
                <p class="informationsAProposDescription" id="labelListeDestinatairesContactsEtrangersDetailMail">A Contacts Etranger :</p>
                <ul class="informationsAProposUl" id="listeDestinatairesContactsEtrangersDetailMail"></ul>
                <p class="informationsAProposDescription" id="labelListeDestinatairesCoordinateursDetailMail">A Coordinateurs :</p>
                <ul class="informationsAProposUl" id="listeDestinatairesCoordinateursDetailMail"></ul>
                <p class="informationsAProposDescription" id="labelListeDestinatairesContactsMailsDetailMail">A Contact Mails :</p>
                <ul class="informationsAProposUl" id="listeDestinatairesContactsMailsDetailMail"></ul>
                <p class="informationsAProposDescription" id="labelListeCopiesCarbonesContactsEtrangersDetailMail">CC Contacts Etranger :</p>
                <ul class="informationsAProposUl" id="listeCopiesCarbonesContactsEtrangersDetailMail"></ul>
                <p class="informationsAProposDescription" id="labelListeCopiesCarbonesCoordinateursDetailMail">CC Coordinateurs :</p>
                <ul class="informationsAProposUl" id="listeCopiesCarbonesCoordinateursDetailMail"></ul>
                <p class="informationsAProposDescription" id="labelListeCopiesCarbonesContactsMailsDetailMail">CC Contact Mails :</p>
                <ul class="informationsAProposUl" id="listeCopiesCarbonesContactsMailsDetailMail"></ul>
                <p class="informationsAProposDescription" id="labelListeCopiesCarbonesInvisiblesContactsEtrangersDetailMail">CCI Contacts Etranger :</p>
                <ul class="informationsAProposUl" id="listeCopiesCarbonesInvisiblesContactsEtrangersDetailMail"></ul>
                <p class="informationsAProposDescription" id="labelListeCopiesCarbonesInvisiblesCoordinateursDetailMail">CCI Coordinateurs :</p>
                <ul class="informationsAProposUl" id="listeCopiesCarbonesInvisiblesCoordinateursDetailMail"></ul>
                <p class="informationsAProposDescription" id="labelListeCopiesCarbonesInvisiblesContactsMailsDetailMail">CCI Contact Mails :</p>
                <ul class="informationsAProposUl" id="listeCopiesCarbonesInvisiblesContactsMailsDetailMail"></ul>
                <p class="informationsAProposDescription">Sujet Mail : <span class="proprieteApplication" id="sujetMailDetailMail"></span></p>
                <p class="informationsAProposDescription">Message :</p>
                <div class="container border border-light text-break" id="messageHtmlMailDetailsMail"></div>
            </div>

            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeTemplateMail" idModal="modalEditeTemplateMail" tailleModal="modal-xl">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreTemplateMail"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <form slot="modalBody" class="form">
                <input type="hidden" id="inputIdentifiantTemplateMail" value="0" />
                <div class="form-group">
                    <label for="inputNomTemplateMail">Nom Template Mail :</label>
                    <input type="text" id="inputNomTemplateMail" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputSujetTemplateMail">Sujet Template Mail :</label>
                    <input type="text" id="inputSujetTemplateMail" class="form-control" />
                </div>
            </form>

            <EditeurHtml slot="modalBody" ref="editeurHtmlTemplateMail" idEditeurHtml="editeurHtmlTemplateMail"></EditeurHtml>

            <button slot="modalFooter" type="button" id="boutonEditeTemplateMail" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <SpinnerSpecifique ref="spinner"></SpinnerSpecifique>

    </div>
</section>
<!-- /Mails -->
