<!-- Partenaires -->

<section class="section partenaires mt-5">

    <div class="sectionHeader text-center">
        <h2 class="sectionTitre">Gérer les partenaires</h2>
        <div class="line"><span></span></div>
        <p>
            Ajouter, modifier, supprimer les partenaires.
        </p>
    </div>

    <ModalErreur ref="modalErreur"></ModalErreur>
    <ModalInformation ref="modalInformation"></ModalInformation>

    <div class="container mb-5">
        <div id="mapListePartenaires"></div>
    </div>

    <div class="container">
        <form slot="modalBody" class="form">
            <div class="form-group">
                <label for="multipleSelectAvecTagDomainesDeCompetences">Tri par Domaines de Compétences :</label>
                <MultipleSelectAvecTag ref="multipleSelectAvecTagDomainesDeCompetences" idMultipleSelectAvecTag="multipleSelectAvecTagDomainesDeCompetences" placeholderSelect="Sélectionner des domaines de compétences" tagActive="false"></MultipleSelectAvecTag>
            </div>
            <div class="form-group">
                <label for="multipleSelectAvecTagPays">Tri par Pays :</label>
                <MultipleSelectAvecTag ref="multipleSelectAvecTagPays" idMultipleSelectAvecTag="multipleSelectAvecTagPays" placeholderSelect="Sélectionner des pays" tagActive="false"></MultipleSelectAvecTag>
            </div>
            <div class="form-group">
                <label for="multipleSelectAvecTagSouspecialites">Tri par Sous Spécialités :</label>
                <MultipleSelectAvecTag ref="multipleSelectAvecTagSouspecialites" idMultipleSelectAvecTag="multipleSelectAvecTagSouspecialites" placeholderSelect="Sélectionner des sous spécialites" tagActive="false"></MultipleSelectAvecTag>
            </div>
            <div class="form-group">
                <label for="multipleSelectAvecTagMobilites">Tri par Mobilités :</label>
                <MultipleSelectAvecTag ref="multipleSelectAvecTagMobilites" idMultipleSelectAvecTag="multipleSelectAvecTagMobilites" placeholderSelect="Sélectionner des mobilités" tagActive="false"></MultipleSelectAvecTag>
            </div>
        </form>

        <Datatables ref="datatablesPartenaires" v-bind:proprietesDatatables="proprietesDatatablesPartenaires" idDatatables="datatablesPartenaires"></Datatables>

        <ModalSpecifique ref="modalEditePartenaire" idModal="modalEditePartenaire" tailleModal="modal-xl">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitrePartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <form slot="modalBody" class="form">
                <input type="hidden" id="inputIdentifiantPartenaire" value="0" />
                <div class="form-group">
                    <label for="inputNomPartenaire">Nom Partenaire :</label>
                    <input type="text" id="inputNomPartenaire" class="form-control" />
                    <div class="invalid-feedback">
                        Veuillez donner un nom de partenaire.
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLienPartenaire">Lien Partenaire :</label>
                    <input type="url" id="inputLienPartenaire" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="selectEtatPartenaire">Etat Partenaire :</label>
                    <select class="custom-select form-control" id="selectEtatPartenaire"></select>
                </div>
                <div class="form-group">
                    <label for="geocoderLocalisation">Localisation Partenaire :</label>
                    <div id="geocoderLocalisation"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNomLocalisationPartenaire">Nom Localisation Partenaire :</label>
                        <input type="text" id="inputNomLocalisationPartenaire" class="form-control" />
                        <div class="invalid-feedback">
                            Veuillez choisir une localisation.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputNomPaysLocalisationPartenaire">Nom Pays Partenaire :</label>
                        <input type="text" id="inputNomPaysLocalisationPartenaire" class="form-control" />
                        <div class="invalid-feedback">
                            Veuillez choisir une localisation.
                        </div>
                    </div>
                    <input type="hidden" id="inputLatitudePartenaire" class="form-control" />
                    <input type="hidden" id="inputLongitudePartenaire" class="form-control" />
                    <input type="hidden" id="inputCodePaysLocalisationPartenaire" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputListeImagesPartenaires">Ajouter des fichiers aux partenaires :</label>
                    <input type="file" class="form-control-file" id="inputListeImagesPartenaires" accept="image/*" multiple>
                    <div class="invalid-feedback">
                        Un des fichiers sélectionnés existe déjà.
                    </div>
                </div>
                <div class="form-group" id="formGroupListeImagesPartenaireServeur">
                    <label for="listeImagesPartenaireServeur">Liste Images Partenaire sur le serveur :</label>
                    <ul class="list-group" id="listeImagesPartenaireServeur"></ul>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="selectListeDomainesDeCompetencesPartenaire">Liste Domaines De Compétences Partenaire :</label>
                        <select class="custom-select form-control" id="selectListeDomainesDeCompetencesPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonAjouterDomaineDeCompetencePartenaire" class="btn btn-secondary mx-auto">Selectionner Domaine De Compétence</button>
                        </div>
                        <div class="form-row">
                            <button type="button" id="boutonSupprimerDomaineDeCompetencePartenaire" class="btn btn-secondary mx-auto">Supprimer Domaine De Compétence</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="selectListeSousSpecialitesPartenaire">Liste Sous Specialités Partenaire :</label>
                        <select class="custom-select form-control" id="selectListeSousSpecialitesPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonEditerSousSpecialitePartenaire" class="btn btn-secondary mx-auto">Editer Sous Spécialités</button>
                        </div>
                        <div class="form-row">
                            <button type="button" id="boutonSupprimerSousSpecialitePartenaire" class="btn btn-secondary mx-auto">Supprimer Sous Spécialités</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="selectListeMobilitesPartenaire">Liste Mobilités Partenaire :</label>
                        <select class="custom-select form-control" id="selectListeMobilitesPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonAjouterMobilitePartenaire" class="btn btn-secondary mx-auto">Ajouter Mobilité</button>
                        </div>
                        <div class="form-row">
                            <button type="button" id="boutonSupprimerMobilitePartenaire" class="btn btn-secondary mx-auto">Supprimer Mobilité</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="selectListeAidesFinancieresPartenaire">Liste Aides Financières Partenaire :</label>
                        <select class="custom-select form-control" id="selectListeAidesFinancieresPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonAjouterAideFinancierePartenaire" class="btn btn-secondary mx-auto">Ajouter Aide Financière</button>
                        </div>
                        <div class="form-row">
                            <button type="button" id="boutonSupprimerAideFinancierePartenaire" class="btn btn-secondary mx-auto">Supprimer Aide Financière</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="selectListeContactsEtrangersPartenaire">Liste Contacts Etrangers Partenaire :</label>
                        <select class="custom-select form-control" id="selectListeContactsEtrangersPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonAjouterContactEtrangerPartenaire" class="btn btn-secondary mx-auto">Ajouter Contact Etranger</button>
                        </div>
                        <div class="form-row">
                            <button type="button" id="boutonSupprimerContactEtrangerPartenaire" class="btn btn-secondary mx-auto">Supprimer Contact Etranger</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="selectListeCoordinateursPartenaire">Liste Coordinateurs Partenaire :</label>
                        <select class="custom-select form-control" id="selectListeCoordinateursPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonAjouterCoordinateurPartenaire" class="btn btn-secondary mx-auto">Ajouter Coordinateur</button>
                        </div>
                        <div class="form-row">
                            <button type="button" id="boutonSupprimerCoordinateurPartenaire" class="btn btn-secondary mx-auto">Supprimer Coordinateur</button>
                        </div>
                    </div>
                </div>
                <div class="form-row" id="formRowListeVoeuxPartenaire">
                    <div class="form-group col-md-9">
                        <label for="selectListeVoeuxPartenaire">Liste Voeux Partenaire :</label>
                        <select class="custom-select form-control" id="selectListeVoeuxPartenaire" multiple></select>
                    </div>
                    <div class="form-group col-md-3 my-auto">
                        <div class="form-row pb-1">
                            <button type="button" id="boutonSupprimerVoeuPartenaire" class="btn btn-secondary mx-auto">Supprimer Voeu</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textareaInformationLogementPartenaire">Information Logement Partenaire :</label>
                    <textarea class="form-control" id="textareaInformationLogementPartenaire" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="textareaInformationCoutPartenaire">Information Cout Partenaire :</label>
                    <textarea class="form-control" id="textareaInformationCoutPartenaire" rows="3"></textarea>
                </div>
            </form>

            <button slot="modalFooter" type="button" id="boutonEditePartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeDomaineDeCompetence" idModal="modalEditeDomaineDeCompetence" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreDomaineDeCompetence"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <form slot="modalBody" class="form">
                <input type="hidden" id="inputIdentifiantDomaineDeCompetence" value="0" />
                <div class="form-group">
                    <label for="inputNomDomaineDeCompetence">Nom Domaine De Compétence :</label>
                    <input type="text" id="inputNomDomaineDeCompetence" class="form-control" />
                </div>
            </form>

            <button slot="modalFooter" type="button" id="boutonEditeDomaineDeCompetence" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeDomainesDeCompetencesPartenaire" idModal="modalEditeDomainesDeCompetencesPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreDomainesDeCompetencesPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesDomainesDeCompetencesPartenaires" v-bind:proprietesDatatables="proprietesDatatablesDomainesDeCompetencesPartenaires" idDatatables="datatablesDomainesDeCompetencesPartenaires"></Datatables>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeDomainesDeCompetencesPartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeSousSpecialitesPartenaire" idModal="modalEditeSousSpecialitesPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreSousSpecialitesPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <TreeSpecifique ref="treeSousSpecialitesPartenaire" idTree="treeSousSpecialitesPartenaire"></TreeSpecifique>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeSousSpecialitesPartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeMobilitesPartenaire" idModal="modalEditeMobilitesPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreMobilitesPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesMobilitesPartenaires" v-bind:proprietesDatatables="proprietesDatatablesMobilitesPartenaires" idDatatables="datatablesMobilitesPartenaires"></Datatables>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeMobilitesPartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeAidesFinancieresPartenaire" idModal="modalEditeAidesFinancieresPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreAidesFinancieresPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesAidesFinancieresPartenaires" v-bind:proprietesDatatables="proprietesDatatablesAidesFinancieresPartenaires" idDatatables="datatablesAidesFinancieresPartenaires"></Datatables>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeAidesFinancieresPartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeContactEtranger" idModal="modalEditeContactEtranger" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreContactEtranger"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <form slot="modalBody" class="form">
                <input type="hidden" id="inputIdentifiantContactEtranger" value="0" />
                <div class="form-group">
                    <label for="inputNomContactEtranger">Nom Contact Etranger :</label>
                    <input type="text" id="inputNomContactEtranger" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputPrenomContactEtranger">Prénom Contact Etranger :</label>
                    <input type="text" id="inputPrenomContactEtranger" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputAdresseMailContactEtranger">Adresse Contact Etranger :</label>
                    <input type="text" id="inputAdresseMailContactEtranger" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="inputFonctionContactEtranger">Fonction Contact Etranger :</label>
                    <input type="text" id="inputFonctionContactEtranger" class="form-control" />
                </div>
            </form>

            <button slot="modalFooter" type="button" id="boutonEditeContactEtranger" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeContactsEtrangersPartenaire" idModal="modalEditeContactsEtrangersPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreContactsEtrangersPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesContactsEtrangersPartenaires" v-bind:proprietesDatatables="proprietesDatatablesContactsEtrangersPartenaires" idDatatables="datatablesContactsEtrangersPartenaires"></Datatables>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeContactsEtrangersPartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeCoordinateursPartenaire" idModal="modalEditeCoordinateursPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreCoordinateursPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesCoordinateursPartenaires" v-bind:proprietesDatatables="proprietesDatatablesCoordinateursPartenaires" idDatatables="datatablesCoordinateursPartenaires"></Datatables>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeCoordinateursPartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalEditeVoeuxPartenaire" idModal="modalEditeVoeuxPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreVoeuxPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesVoeuxPartenaires" v-bind:proprietesDatatables="proprietesDatatablesVoeuxPartenaires" idDatatables="datatablesVoeuxPartenaires"></Datatables>
            </div>
            <button slot="modalFooter" type="button" id="boutonEditeVoeuxPartenaire" class="btn btn-custom">Sauvegarder</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalValideVoeuxPartenaires" idModal="modalValideVoeuxPartenaires" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputTitreValideVoeuxPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody">
                <Datatables ref="datatablesListeVoeuxPartenaires" v-bind:proprietesDatatables="proprietesDatatablesListeVoeuxPartenaires" idDatatables="datatablesListeVoeuxPartenaires"></Datatables>
                <form slot="modalBody" class="form mt-3">
                    <div class="form-group">
                        <label for="inputAdresseMailVoeuxPartenaires">Adresse mail etu :</label>
                        <input type="email" id="inputAdresseMailVoeuxPartenaires" class="form-control" />
                        <div class="invalid-feedback">
                            Veuillez donner un adresse mail valide.
                        </div>
                    </div>
                </form>
            </div>

            <button slot="modalFooter" type="button" id="boutonValideVoeuxPartenaires" class="btn btn-custom">Valider</button>
            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <ModalSpecifique ref="modalDetailsPartenaire" idModal="modalDetailsPartenaire" tailleModal="modal-lg">
            <h5 slot="modalHeader" class="modal-tilte">
                <span id="inputDetailsPartenaire"></span>
            </h5>
            <button slot="modalHeader" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div slot="modalBody" class="informationsDetailPartenaire">
                <p class="informationsDetailPartenaireDescription">
                    Identifiant Partenaire : <span class="detailPartenaire" id="identifiantPartenaireDetail"></span>
                </p>
                <p class="informationsDetailPartenaireDescription">
                    Nom Partenaire : <span class="detailPartenaire" id="nomPartenaireDetail"></span>
                </p>
                <p class="informationsDetailPartenaireDescription">
                    Lien Partenaire : <span class="detailPartenaire" id="lienPartenaireDetail"></span>
                </p>
                <p class="informationsDetailPartenaireDescription">
                    Etat Partenaire : <span class="detailPartenaire" id="etatPartenaireDetail"></span>
                </p>
                <p class="informationsDetailPartenaireDescription">
                    Localisation Partenaire : <span class="detailPartenaire" id="localisationPartenaireDetail"></span>
                </p>
                <p class="informationsDetailPartenaireDescription" id="labelListeImagesPartenairesDetail">Liste Images Partenaire :</p>
                <ul class="informationsAProposUl" id="listeImagesPartenairesDetail"></ul>
                <p class="informationsDetailPartenaireDescription" id="labelListeDomainesDeCompetencesPartenairesDetail">Liste Domaines De Compétences Partenaire :</p>
                <ul class="informationsAProposUl" id="listeDomainesDeCompetencesPartenairesDetail"></ul>
                <p class="informationsDetailPartenaireDescription" id="labelListeSousSpecialitesPartenairesDetail">Liste Sous Spécialités Partenaire :</p>
                <ul class="informationsAProposUl" id="listeSousSpecialitesPartenairesDetail"></ul>
                <p class="informationsDetailPartenaireDescription" id="labelListeMobilitesPartenairesDetail">Liste Mobilités Partenaire :</p>
                <ul class="informationsAProposUl" id="listeMobilitesPartenairesDetail"></ul>
                <p class="informationsDetailPartenaireDescription" id="labelListeAidesFinancieresPartenairesDetail">Liste Aides Financières Partenaire :</p>
                <ul class="informationsAProposUl" id="listeAidesFinancieresPartenairesDetail"></ul>
                <p class="informationsDetailPartenaireDescription" id="labelListeCoordinateursPartenairesDetail">Liste Coordinateurs Partenaire :</p>
                <ul class="informationsAProposUl" id="listeCoordinateursPartenairesDetail"></ul>
                <p class="informationsDetailPartenaireDescription">
                    Information Logement Partenaire : <span class="detailPartenaire" id="informationLogementPartenaireDetail"></span>
                </p>
                <p class="informationsDetailPartenaireDescription">
                    Information Cout Partenaire : <span class="detailPartenaire" id="informationCoutPartenaireDetail"></span>
                </p>
            </div>

            <button slot="modalFooter" type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </ModalSpecifique>

        <SpinnerSpecifique ref="spinner"></SpinnerSpecifique>
    </div>
</section>

<!-- /Partenaires -->
