/* Page d'Accueil */
/* Présentation des fonctionnalités */
body {
    //background: #f7f7f7;
}

/* Accueil Image */
/*.sections {
    padding: 20px 0;
}*/

.accueilImage {
    height: 650px;
    background-image: url(../../images/accueil/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.accueilImageOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.25);
}

/*.accueilImage .accueilImageContenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/

.accueilImage .accueilImageTitre {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
}

.accueilImage .accueilImageDescription {
    color: #fff;
    font-size: 18px;
}

@media (max-width:575px) {
    .accueilImage .accueilImageTitre {
        font-size: 22px;
    }
}
/* Accueil Image */

/* Caroussel */
.carousel-inner .carousel-item img {
    max-height: 400px;
}

.carousel-control-next,
.carousel-control-prev /*,
.carousel-indicators*/ {
    //filter: invert(100%);
}
/* Caroussel */

/* Fonctionnalités */
.fonctionnalites {
    background: #f7f7f7;
}

.fonctionnalites a:link,
.fonctionnalites a:visited,
.fonctionnalites a:hover,
.fonctionnalites a:active {
    text-decoration: none;
    color: #212529;
    background-color: #fff;
}

.fonctionnalites .fonctionnalite {
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.fonctionnalites .fonctionnalite .testss {
    text-align: center;
}

.fonctionnalites .fonctionnalite .iconeFonctionnalite {
    margin: auto;
    background-color: #2184BE;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 50%;
}

.fonctionnalites .fonctionnaliteTitre {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.fonctionnalites .fonctionnaliteDescription {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
}
/* Fonctionnalités */
