/* Page Partenaires */
body {
}

.dt-buttons {
    margin-bottom: 0.85em;
}

#modalErreur {
    z-index: 2000;
}

#modalInformation {
    z-index: 2000;
}

/* Mapboxgl et Geocoder */
#geocoderLocalisation {
    width: 100%;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

#geocoderLocalisation input {
    outline: none;
}

#mapListePartenaires {
    height: 500px;
}
/* Mapboxgl et Geocoder */

/* Jstree Bootstrap Theme */
.jstree-node {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Jstree Bootstrap Theme */
